<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agricore</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
    <div class="logo">AgriCore</div>
    <div class="nav-links">
      <a href="/login"><button class="nav-btn">Login</button></a>
      <a href="/register"><button class="nav-btn">Register</button></a>
    </div>
  </nav>

  <div class="headline">
    <h1>Transform Your Farm into a Smart, Self-Learning Ecosystem.</h1>
    <br>
    <h2>Affordable precision farming for every farmer, from soil to harvest.</h2>
    <br>
    <h3>CropVision AI analyzes satellite data, drone scans, and IoT sensors to give farmers real-time insights — boosting yield, saving time, and predicting problems before they happen.</h3>
  </div>
  <div class="image-container">
  <img src="static/imagedrone.png" class="centered-image">
</div>
</body>
</html>
